.filter {
 
  position: fixed;
  top: 100px;
}

.filter-label {
  display: block;
  // margin-bottom: 12px;
  font-size: 19px;
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #333333;
  letter-spacing: 0.32px;
}