.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  position: fixed;
  top: 0px;
  width: 98%;
  z-index: 1;
  background-color: #fcfcfc;
}
.burger-menu {
  background-color: #fcfcfc;
  border: none;
  cursor: pointer;
}
.header-logo-wrap {
  display: flex;
  align-items: start;
  flex-direction: column;
  position: relative;
}
.header-logo-heat {
  position: absolute;
  top: -6px;
  left: 4px;
}
.header-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-logo-text {
  font-size: 40px;
  font-weight: normal;
  font-family: Lora;
  color: #000;
}

.header-logo-label {
  font-size: 16px;
  font-family: Lato;
  font-weight: normal;
  color: #000;
}

.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.header-action {
  all:unset
}